%section.page-header
  %h3 Repositories
  .toolbar
    .button-group
      %a.button{href: '/repositories/new'}
        = mdi_tag('folder-plus')
        = translate 'New Repository'

%section.content#repo-list
  %table
    %thead
      %tr
        %th= translate 'Name'
        %th= translate 'Description'
        %th= translate 'Enabled'
        %th= translate 'Actions'
    %tbody
      %tr
        - if instances.empty?
          %td{colspan: 4}= translate 'No Repositories Available'
        - else
          - instances.each do |instance|
            %td= instance.name
            %td N/A
            %td= instance.enabled
            %td -

