/ list of repository providers registered in the system

%ul.accordion{'data-accordion' => ''}
  - repos.each do |id, repo|
    %li.accordion-item{'data-accordion-item' => ''}
      %a.accordion-title{href: '#'}= repo.provider_name
      .accordion-content{'data-tab-content' => ''}
        %section
          %h5 Provider Information
          %table
            %tbody
              %tr
                %td ID
                %td
                  %pre= id
              %tr
                %td Version
                %td
                  %pre= repo.provider_version.join('.')
              %tr
                %td Features
                %td
                  %pre= repo.features.join(', ')
        %section
          %h5 Parameters
          %table
            %thead
              %tr
                %th Field
                %th Required
                %th Type
                %th Default
                %th Description
            %tbody
              - repo.configuration_spec.each do |opt|
                %tr
                  %td
                    %pre= opt[:field]
                  %td= opt.fetch(:required, false)
                  %td= opt.fetch(:type, String).name
                  %td
                    %pre= opt.fetch(:default, nil)
                  %td= opt.fetch(:description, 'N/A')
