!!! 5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "apple-mobile-web-app-capable", content: "no" }
    %meta{ name: "HandheldFriendly", content: "False" }

    %title= content_for?(:title) ? yield(:title) : "FileRouter"


    = stylesheet_link_tag "application", media: "all"
    = javascript_pack_tag "application"
    = csrf_meta_tag

  %body
    = react_component "WebUI"
